---
- name: Check Openshift Gitops / ArgoCD installation
  kubernetes.core.k8s_info:
    api_version: argoproj.io/v1alpha1
    kind: ArgoCD
    name: openshift-gitops
    namespace: openshift-gitops
  register: r_argocd

- name: Assert that GitOps is installed
  ansible.builtin.assert:
    that: r_argocd.resources | length > 0
    msg: "Openshift Gitops / ArgoCD is not installed."

- name: Single user installation
  when: ocp4_workload_mta8_num_users | int == 1
  block:
  - name: Install MTA (single user)
    kubernetes.core.k8s:
      state: present
      definition: "{{ lookup('template', 'application.yaml.j2') }}"

  - name: Save MTA user info (single user, auth enabled)
    when: ocp4_workload_mta8_feature_auth_required | default(true)
    agnosticd.core.agnosticd_user_info:
      data:
        mta_url: >-
          https://mta-{{ ocp4_workload_mta8_namespace_base }}.{{
          _ocp4_workload_mta8_wildcard_domain }}
        tackle_user: "{{ ocp4_workload_mta8_user }}"
        tackle_password: "{{ ocp4_workload_mta8_password }}"

  - name: Save MTA user info (single user, auth disabled)
    when: not ocp4_workload_mta8_feature_auth_required | default(true)
    agnosticd.core.agnosticd_user_info:
      data:
        mta_url: >-
          https://mta-{{ ocp4_workload_mta8_namespace_base }}.{{
          _ocp4_workload_mta8_wildcard_domain }}

# -----------------------------------------------------------------------------
- name: Multi user installation
  when: ocp4_workload_mta8_num_users | int > 1
  block:
  - name: Install MTA (multi user)
    kubernetes.core.k8s:
      state: present
      definition: "{{ lookup('template', 'applicationset.yaml.j2') }}"

  - name: Save MTA user information for each user (authentication enabled)
    when: ocp4_workload_mta8_feature_auth_required | default(true) | bool
    agnosticd.core.agnosticd_user_info:
      user: "{{ ocp4_workload_mta8_user_base }}{{ item }}"
      data:
        mta_url: >-
          https://mta-{{ ocp4_workload_mta8_namespace_base }}-{{
          ocp4_workload_mta8_user_base }}{{ item }}.{{
          _ocp4_workload_mta8_wildcard_domain }}
        mta_user: "{{ ocp4_workload_mta8_user }}"
        mta_password: "{{ ocp4_workload_mta8_password }}"
    loop: "{{ range(1, 1 + ocp4_workload_mta8_num_users | int) | list }}"

  - name: Save MTA user information for each user (authentication disabled)
    when: not ocp4_workload_mta8_feature_auth_required | default(true)
    agnosticd.core.agnosticd_user_info:
      user: "{{ ocp4_workload_mta8_user_base }}{{ item }}"
      data:
        mta_url: >-
          https://tackle-{{ ocp4_workload_mta8_namespace_base }}-{{
          ocp4_workload_mta8_user_base }}{{ item }}.{{
          _ocp4_workload_mta8_wildcard_domain }}
    loop: "{{ range(1, 1 + ocp4_workload_mta8_num_users | int) | list }}"
